body{
    padding: 0px;
    margin: 0px;
}
.download-fresh{
    padding: 8px;
    background-color: #F8F9FA;
    border-radius: 4px;
    color: #4812C2;
    
}
li #download{
    text-decoration: none;
}
.download-fresh:hover{
    background-color: #4812C2;
    color: white;
    cursor: pointer;
}
.nav-pot{
margin-top: 8px;

}
.fame {
    margin-top: 200px;
}
.mate{
margin-left: -18px;
}

#angle{
    font-weight: 500;
}

#imela{
    font-weight: 500;
}

.col-md-4{
    margin-left: -10px;
.containeer-fluid{
    margin-right: 30px;
}
#row{
    background-image: url(Group.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size:22% 74%;
    margin-top: 0px;
    margin-right: 107px;
    
}
#glookk-vendor{
    background-color:#4812c2;
}
#Our{
    padding-left: 80px;
}
.card-{
    width: 55px !important;
    
}
#Card{
       background-color: #f1eff6; 
}

